* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;


    @media screen and (max-width: 1000px) {
        & {
            font-size: 57%;
        }
    }

    @media screen and (max-width: 768px) {
        & {
            font-size: 52%;
        }
    }

    @media screen and (max-width: 375px) {
        & {
            font-size: 50%;
        }
    }
}

body {
    overflow-x: hidden;
}
