.hero {
    height: 100vh;
    background: url("../assets/images/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

    &__main {
        max-width: 60rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;

        &--description {
            font-weight: 600;
            font-family: "Raleway", sans-serif;
            font-size: 3.6rem;
            color: white;
            letter-spacing: 1.3px;
        }

        &--title {
            font-size: 5.2rem;
            font-weight: 800;
            font-family: "Raleway", sans-serif;
            color: white;
            margin: 1rem 0 2rem;
            word-spacing: 3px;
            letter-spacing: -1px;
        }

        &--paragraph {
            line-height: 2.4rem;
            font-size: 1.6rem;
            color: white;
            letter-spacing: 1.3px;
            text-align: center;
        }

        &::before {
            content: '\276E';
            font-size: 4.5rem;
            color: #a2a19f;
            position: absolute;
            left: -15rem;
            cursor: pointer;

            @media screen and (max-width: 1000px) {
                & {
                    content: '';
                }
            }
        }

        &::after {
            content: '\276F';
            font-size: 4.5rem;
            color: #a2a19f;
            position: absolute;
            right: -15rem;
            cursor: pointer;

            @media screen and (max-width: 1000px) {
                & {
                    content: '';
                }
            }

        }

        &--btn {
            margin-top: 4rem;
            color:white;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            background-color: #998675;
            border-radius: .5rem;
            border-bottom: #736357 3px solid;
            width: 17rem;
            height: 5.5rem;
            display: flex;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            transition: all .3s ease-in-out;

            &:hover {
                background: transparent;
                border: 1px solid white;
                color: #998675;

            }
        }

    }
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin-right: 3rem;
    &__text {
        font-size: 3.4rem;
        color: white;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding-top: 5rem;
    position: relative;

    @media screen and (max-width: 1000px) {
        & {
            width: 86%;
        }
    }
}

.nav {
    &__items {
        display: flex;
        align-items: center;
        margin-right: 4rem;
        list-style: none;
        @media screen and (max-width: 1000px) {
            
            & {
                transition: all .3s ease-in-out;
                transform: translateX(100%);
                width: 20rem;
                position: absolute;
                right: -8%;
                top: 16rem;
                flex-direction: column;
                justify-content: space-between;
                height: 60vh;
                align-items: center;
                margin-right: 0;
                background-color: rgba(0,0,0,.8);
                z-index: 100;
                padding: 3rem 0;
            }
        }
    }

    &__link {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        margin-right: 2rem;
        transition: all .3s ease-in-out;
        @media screen and (max-width: 1000px) {
            & {
                margin-right: 0;
            }
        }
    }

    &__link:hover,
    &__link:active {
        color: #c7b299;
    }

    &__tools {
        display: flex;
        justify-content: space-between;

        & a {
            margin-left: 2rem;
        }

        & img:hover {
            transition: all .2s ease-in-out;
            transform: scale(.85);
            fill: red;
        }
    }

    &--active {
        transform: translateX(0);
    }
    
}

.dots {
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #8d8e90;
    cursor: pointer;
    margin: .6rem;

    &:hover {
        transition: .2s all ease-in-out;
        transform: scale(1.2);
    }

    &--active {
        border: 2px solid #ae9f90;
        transform: scale(1);
        background: transparent;
    }
}

.burger {
    display: none;
    cursor: pointer;
    // margin-right: 4rem;
    
    & div {
        width: 2.7rem;
        height: .3rem;
        margin: .5rem;
        background-color: white;
    }
    
    &:hover div {
        transition: all .2s ease-in-out;
        background-color: #c7b299;
        

    }


    @media screen and (max-width: 1000px) {
        & {
            display: block;
        }
    }
}


@media screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
}