.heading {
    &-1 {
        font-family: "Raleway", sans-serif;
        font-size: 2.2rem;
        color: #8c8c8c; 
        margin: 1.4rem 0;
    }

    &-2 {
        font-family: "Raleway", sans-serif;
        font-size: 3rem;
        color: #8c8c8c; 
        margin: 1.4rem 0;
        text-align: center;
    }

}

.paragraph-text {
    line-height: 2.4rem;
    font-size: 1.6rem;
    color: #8c8c8c;
    letter-spacing: 1.3px;
    text-align: center;
}