* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif; }
  @media screen and (max-width: 1000px) {
    * {
      font-size: 57%; } }
  @media screen and (max-width: 768px) {
    * {
      font-size: 52%; } }
  @media screen and (max-width: 375px) {
    * {
      font-size: 50%; } }

body {
  overflow-x: hidden; }

.heading-1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  color: #8c8c8c;
  margin: 1.4rem 0; }

.heading-2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  color: #8c8c8c;
  margin: 1.4rem 0;
  text-align: center;
  font-weight: 600; }

.paragraph-text {
  line-height: 2.4rem;
  font-size: 1.6rem;
  color: #8c8c8c;
  letter-spacing: 1.3px;
  text-align: center; }

.hero {
  height: 100vh;
  background: url("../assets/images/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem; }
  .hero__main {
    max-width: 60rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center; }
    .hero__main--description {
      font-weight: 600;
      font-family: "Raleway", sans-serif;
      font-size: 3.6rem;
      color: white;
      letter-spacing: 1.3px; }
    .hero__main--title {
      font-size: 5.2rem;
      font-weight: 800;
      font-family: "Raleway", sans-serif;
      color: white;
      margin: 1rem 0 2rem;
      word-spacing: 3px;
      letter-spacing: -1px; }
    .hero__main--paragraph {
      color: white; }
    .hero__main::before {
      content: '\276E';
      font-size: 4.5rem;
      color: #a2a19f;
      position: absolute;
      left: -15rem;
      cursor: pointer; }
      @media screen and (max-width: 1000px) {
        .hero__main::before {
          content: ''; } }
    .hero__main::after {
      content: '\276F';
      font-size: 4.5rem;
      color: #a2a19f;
      position: absolute;
      right: -15rem;
      cursor: pointer; }
      @media screen and (max-width: 1000px) {
        .hero__main::after {
          content: ''; } }
    .hero__main--btn {
      margin-top: 4rem;
      color: white;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      background-color: #998675;
      border-radius: .5rem;
      border-bottom: #736357 3px solid;
      width: 17rem;
      height: 5.5rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      transition: all .3s ease-in-out; }
      .hero__main--btn:hover {
        background: transparent;
        border: 1px solid white;
        color: #998675; }

.logo {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  margin-right: 3rem; }
  .logo__text {
    font-size: 3.4rem;
    color: white; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
  padding-top: 5rem;
  position: relative; }
  @media screen and (max-width: 1000px) {
    .header {
      width: 86%; } }

.nav__items {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  list-style: none; }
  @media screen and (max-width: 1000px) {
    .nav__items {
      transition: all .3s ease-in-out;
      transform: translateX(100%);
      width: 20rem;
      position: absolute;
      right: -8%;
      top: 16rem;
      flex-direction: column;
      justify-content: space-between;
      height: 60vh;
      align-items: center;
      margin-right: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 100;
      padding: 3rem 0; } }

.nav__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  transition: all .3s ease-in-out; }
  @media screen and (max-width: 1000px) {
    .nav__link {
      margin-right: 0; } }

.nav__link:hover, .nav__link:active {
  color: #c7b299; }

.nav__tools {
  display: flex;
  justify-content: space-between; }
  .nav__tools a {
    margin-left: 2rem; }
  .nav__tools img:hover {
    transition: all .2s ease-in-out;
    transform: scale(0.85);
    fill: red; }

.nav--active {
  transform: translateX(0); }

.dots {
  display: flex; }

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #8d8e90;
  cursor: pointer;
  margin: .6rem; }
  .dot:hover {
    transition: .2s all ease-in-out;
    transform: scale(1.2); }
  .dot--active {
    border: 2px solid #ae9f90;
    transform: scale(1);
    background: transparent; }

.burger {
  display: none;
  cursor: pointer; }
  .burger div {
    width: 2.7rem;
    height: .3rem;
    margin: .5rem;
    background-color: white; }
  .burger:hover div {
    transition: all .2s ease-in-out;
    background-color: #c7b299; }
  @media screen and (max-width: 1000px) {
    .burger {
      display: block; } }

#about {
  background-color: #fbfaf8;
  margin: auto; }

.about__content {
  width: 86%;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about__description {
  width: 60%;
  text-align: center; }

.images {
  display: flex;
  position: relative;
  margin-top: 15%; }
  .images img {
    height: 25rem; }
  @media screen and (max-width: 890px) {
    .images {
      flex-direction: column; }
    .images img {
      height: 40vw; } }

.browser-center {
  position: absolute;
  right: 30%;
  transform: scale(1.5);
  transform-origin: bottom; }
  @media screen and (max-width: 890px) {
    .browser-center {
      position: static;
      transform: scale(1); } }

#services {
  margin: auto; }

.services {
  width: 86%;
  display: flex;
  justify-content: space-between;
  background-color: #fff; }
  @media screen and (max-width: 850px) {
    .services {
      flex-direction: column;
      align-items: center; } }
  .services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.6rem 2rem;
    text-align: center; }
    .services__item--icon i {
      font-size: 4rem;
      color: #8c8c8c; }
    .services__item:hover i,
    .services__item:hover .heading-1 {
      color: #c7b299;
      transition: all .2s ease-in-out; }
    .services__item:hover::after {
      content: '';
      visibility: visible; }
    .services__item::after {
      content: '';
      width: 9rem;
      height: .5rem;
      transition: all .3s ease-in-out;
      display: block;
      background-color: #c7b299;
      visibility: hidden;
      margin-top: 2rem; }
    @media screen and (max-width: 850px) {
      .services__item {
        width: 45vw; } }

.purchase {
  background: linear-gradient(to right, #231c1a, #4e3427);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .purchase__text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 7%; }
    .purchase__text-wrapper h2 {
      font-family: "Raleway", sans-serif;
      font-size: 2.8rem;
      font-weight: 400;
      color: white;
      margin-bottom: .7rem; }
      .purchase__text-wrapper h2 span {
        color: #c7b299;
        font-size: 2.8rem;
        font-family: "Raleway", sans-serif;
        font-weight: 400; }
  .purchase__info {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #615855;
    font-size: 1.8rem; }
  .purchase__btn {
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background-color: #998675;
    text-decoration: none;
    margin-right: 7%;
    padding: 1rem 2rem;
    border-radius: .5rem;
    text-align: center; }
    .purchase__btn:hover {
      transition: all .3s ease-in-out;
      background-color: #83654c; }

.projects {
  display: flex;
  flex-direction: column;
  padding: 2rem 6%; }
  .projects-info {
    width: 50%;
    margin: 2rem auto; }
  .projects__tools {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 3rem auto; }
    @media screen and (max-width: 660px) {
      .projects__tools {
        width: 80vw;
        flex-direction: column;
        align-items: center; } }
    .projects__tools--btn {
      color: #8c8c8c;
      font-size: 1.4rem;
      font-weight: 100;
      text-decoration: none;
      border-radius: .4rem;
      background-color: white;
      border: 1px solid #ebebeb;
      padding: .5rem 1.5rem;
      margin: 1rem 1rem 1rem 1rem; }
      .projects__tools--btn:hover, .projects__tools--btn:active {
        transition: all .2s ease-in-out;
        background-color: #998675;
        color: white; }
  .projects__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 2rem;
    margin: 0 auto;
    justify-items: center; }
    @media screen and (max-width: 1100px) {
      .projects__wrapper {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 660px) {
      .projects__wrapper {
        grid-template-columns: repeat(1, 1fr); } }
  .projects__btn {
    background-color: #998675;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    color: white;
    border-radius: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: 3rem auto 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800; }
    .projects__btn:hover {
      transition: all .24s ease-in-out;
      background: #362f2d;
      color: #dddbdb; }

.project__post {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 25rem;
  position: relative; }
  .project__post--info {
    position: absolute;
    background-color: #fbfaf8;
    width: 100%;
    bottom: 0;
    left: 0;
    clip-path: polygon(0% 20%, 15% 20%, 20% 0%, 26% 20%, 100% 20%, 100% 100%, 0% 100%);
    padding: 2rem 2rem 1rem; }
  .project__post--title {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #c7b299;
    margin: .5rem 0; }
  .project__post--text {
    font-size: 1.4rem;
    color: #d1d1d1; }
  .project__post--photo {
    height: 80%; }
  .project__post--icons {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    color: white;
    z-index: 100;
    width: 20%;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden; }
    .project__post--icons i {
      font-size: 2rem;
      margin: .8rem;
      cursor: pointer; }
      .project__post--icons i:hover {
        transition: .3s all ease-in-out;
        color: #bba892; }
  .project__post:hover .project__post--title, .project__post:active .project__post--title {
    color: white;
    transition: all .3s ease-in-out; }
  .project__post:hover .project__post--text, .project__post:active .project__post--text {
    color: #c7b299;
    transition: all .3s ease-in-out; }
  .project__post:hover .project__post--info, .project__post:active .project__post--info {
    transition: all .3s ease-in-out;
    background-color: #362f2d; }
  .project__post:hover .project__post--photo, .project__post:active .project__post--photo {
    transition: all .3s ease-in-out;
    filter: brightness(0.6); }
  .project__post:hover .project__post--icons, .project__post:active .project__post--icons {
    transition: all .3s ease-in-out;
    opacity: 1;
    visibility: visible; }

.presentation {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/images/presentation.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .presentation__play {
    font-size: 10rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    line-height: 0;
    padding: 1rem; }
  .presentation__title {
    color: white; }
  .presentation__description {
    color: white;
    width: 60%;
    margin: 3rem 0; }
  .presentation__time {
    color: #c7b299;
    font-size: 1.4rem; }

.features {
  display: flex;
  justify-content: center;
  padding: 0 auto;
  align-items: flex-start; }
  @media screen and (max-width: 750px) {
    .features {
      flex-direction: column-reverse;
      align-items: center; } }
  .features__illustration {
    margin-top: 3rem; }
    @media screen and (max-width: 750px) {
      .features__illustration {
        height: 50vh; } }
  .features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6rem 1rem;
    width: 45%; }
    @media screen and (max-width: 750px) {
      .features__wrapper {
        width: 80%; } }
  .features__info {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #8c8c8c;
    letter-spacing: .6px;
    font-weight: 200;
    margin: 3rem 0; }
  .features__list {
    list-style: none; }
    .features__list--item {
      font-size: 1.6rem;
      font-weight: 200;
      color: #8c8c8c;
      letter-spacing: .6px;
      line-height: 2rem;
      padding: 1rem 4rem;
      background: url("../assets/images/list-style.png") no-repeat left; }
  .features__counter {
    display: flex;
    padding: 0 6vw;
    background: linear-gradient(to right, #231c1a, #4e3427);
    justify-content: space-between; }
    @media screen and (max-width: 720px) {
      .features__counter {
        flex-flow: wrap column; } }
    .features__counter-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3rem 2rem; }
      .features__counter-item--icon i {
        font-size: 3rem;
        color: #c7b299; }
      .features__counter-item--count {
        font-size: 4.8rem;
        font-weight: 100;
        line-height: 3.6rem;
        color: white;
        margin: 2rem 0; }
      .features__counter-item--description {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 200;
        color: #c7b299;
        text-transform: uppercase; }
      .features__counter-item::after {
        content: '';
        width: 55%;
        background: white;
        height: 1px;
        margin-top: 1.5rem; }
